local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.iml
.idea
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
.kotlin/
.gradle
**/build/
!src/**/build/
.DS_Store
